 <div class="limiter">
    <div class="container-login100" style="background-image: url('assets/img/must.jpg');">
       
        <div class="wrap-login100 p-t-30 p-b-50">
            <span class="login100-form-title p-b-41">
            
            </span>
            <!-- <img src= "../../../assets/img/must-logo.svg" onmouseover="this.src='../../../assets/img/Logo 25 Year Final-01.png';" onmouseout="this.src='../../../assets/img/must-logo.svg';" /> -->
         <div>
              <img src="assets/img/must-logo.svg"  onmouseover="this.src='assets/img/Logo 25 Year Final-01.png';" onmouseout="this.src='assets/img/must-logo.svg';"
            style="width: 120px;   
            display: block;
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: -50px;
            -webkit-border-radius: 500px;
            border: 2px solid white; ">
            <form class="login100-form validate-form p-b-33 p-t-5" [formGroup]="loginForm" (ngSubmit)="signIn()">

                <div class="wrap-input100 validate-input" style="margin-top: 25px;">
                    <input class="input100 form" formControlName="username"  type="text" name="username" id="username" placeholder="أسم المستخدم">
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                <div *ngIf="f.username.touched && f.username.invalid" class="alert-validate">
                    <div *ngIf="f.username.errors?.required" style="color: #c80000;text-align: center;">* من فضلك ادخل اسم المستخدم الصحيح </div>
                </div>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="password" placeholder="الرقم السري" id="password" formControlName="password">
                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    <div *ngIf="f.password.touched && f.password.invalid" class="alert-validate">
                        <div *ngIf="f.password.errors?.required" style="color: #c80000;text-align: center;">* من فضلك تأكد من ادخالك الرقم السري الصحيح</div>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-32">
                    <button class="btn btn-primary rounded submit p-3 px-5"  (click)="signIn()"  type="submit" [disabled]="loginForm.invalid">
                        تسجيل الدخول
                    </button>
                </div>

            </form>
        </div>
        </div>
        </div>
 </div>
 

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> تم الإعداد بواسطة مركز تكنولوجيا التعليم ©2021 | ادارة البرمجه | جامعة مصر للعلوم والتكنولوجيا
             <a href="#" style="color: black;"> </a>
    </div>
    <!-- Copyright -->
  </footer>
