 /* width */
 ::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #002361 !important; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    60deg, #002361, #0A9442)!important; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    60deg, #0A9442, #002361)!important; 
}